$owners-color: #393;
$requesters-color: #339;

body {
  background: #DDD;
  color: #fff;
  font-family: Century Gothic, sans-serif;
}

.app-title {
  width: 100%;
  background-color: #000;
  color: #FFF;
  font-size: 3em;
  text-align: center;
}
.header > .navbar {
  background-color: #000;
  .navbar-nav li a{
    color: #DDD;
    &:hover {
      color: $owners-color;
    }
  }
  span {
    line-height: 50px;
    font-weight: bold;
    color: #88C;
    margin-right: 30px;
  }
}

.content {
  width: 800px;
  margin: auto;
}

.login-page, .auth-page {
  form {
    .input-group {
      margin: 5px;
    }
    button {
      margin-top: 5px;
    }
  }
}

.products-container {
  h2 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
  }
  li.list-group-item:first-child {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  .ownerships {
    li {
      color: $owners-color;
      .badge {
        background-color: $owners-color;
      }
    }
    button {
      background-color: $owners-color;
      color: #FFF;
      &:hover {
        background-color: $owners-color;
        opacity: 0.7;
      }
    }
  }
  .requesters {
    li {
      color: $requesters-color;
      .badge {
        background-color: $requesters-color;
      }
    }
    button {
      background-color: $requesters-color;
      color: #FFF;
      &:hover {
        background-color: $requesters-color;
        opacity: 0.7;
      }
    }
  }
  button {
    margin: auto;
  }
}
